body {
    font-family: Arial, sans-serif;
    margin: 0; /* espaçamento externo da página */
    padding: 0; /* espaçamento interno da página */
    background-color: #f4f4f4;
    text-align: center; /* texto centralizado*/
}
header {
    background-color: #FFB401;
    color: white;
    padding: 15px 0px; /* 15px (espaçamento interno acima e abaixo) e 0px (direita e esquerda) */ 
    font-size: 24px;
    pointer-events: none;
}
nav {
    background: #0060F5;
    padding: 10px; /*espaçamento interno do menu*/
    display: flex; /* Flex Boxing */
    justify-content: space-between; /* Espaço entre os elementos do menu */
    align-items: center; /* Alinhamento na vertical */
}
#links-menu {
    display: flex;
    gap: 30px; /* Distância entre os itens do menu */
}
nav a { /* configura os links do menu */
    color: white;
    text-decoration: none; /* Não decora os links */
    padding: 10px 15px; /* (10px acima e abaixo) (15px é esquerda e direita)*/
    font-size: 18px;
    background: #FFB401;
    border-radius: 5px; /* cantos arredondados */
}
img {
    width: 120px;
    height: auto;
    margin-right: 80px; /* espaçamento externo à direita */
    border: #000000;
    border-style: groove;
    border-radius: 10px;
}
.container{
    width: 80%; /* Largura de 80% da página */
    background: white;
    border-radius: 10px;
    /* espaçamento externo 20px acima e abaixo */
    /* espaçamento externo auto à direito e à esquerda */
    margin: 20px auto;
    padding: 20px; /*espaçamento interno*/
    text-align: justify;
}
h2 {
    text-align: center;
}  
ol li {
    padding-bottom: 10px;
}
table tr td {
    padding: 20px;
}
table{
    margin: 0 auto; /* centraliza a tabela na página */
}
.laranja{
    background-color: rgb(255, 123, 0);
}
.preta{
    background-color: #000000;
    color: #ffffff;
}
.roxa{
    background-color: rgb(102, 16, 184);
    color: #ffffff;
}
.verde{
    background-color: green;
}
.vermelho{
    background-color: rgb(207, 10, 10);
}
.azul{
    background-color: navy;
    color: white;
}
.sorteio{
    font-style: italic;
    justify-self: center;
}
.tabel{
    padding: 8px;
    border-color: #000000;
    margin: 12px;
    justify-self: center;
}
.campos {
    margin-bottom: 20px;
}
nav a:hover {
    background: #8b6201;
    scale: 110%;
}
.table2 {
    padding: 8px;
    margin: 0 auto;
    & thead {
        color: white;
        background-color: #0060F5;
    }
    & td {
        
    }
}
